
.container {
  max-width: 1310px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;

}

/* Header */

body {
  font-family: "Nunito", sans-serif;
}
header {
  position: relative;
 width: 100%;
 height: 100vh; /* Высота экрана */
 overflow: hidden;
}


.header_img{
   object-fit: cover; 
 width: 100%;
 height: 100%;
 position: absolute;
 top: 0;
 left: 0;
 z-index: -1
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0 20px 0;
  border-bottom: 3px solid black;
}
.logo {
  color: #fff;
  font-size: 55px;
  font-weight: 900;
  line-height: 133%;
  letter-spacing: 2.475px;
  transition: all 0.5s ease;
}
.logo:hover,
.about_link:hover {
  color: #ffa500;
}
.about_link {
  margin-left: 55px;
  color: #fff;
  font-size: 29px;
  font-weight: 400;

  transition: all 0.5s ease;
}

.header_body {
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

.header_text{
  font-size: 45px;
  max-width: 800px;
  color: #fff;
  font-weight: 300;
  line-height: 133%;
  letter-spacing: 2.475px;
}


.header_close {
  display: grid;
  grid-template-columns: 1fr;
padding: 30px 5px;
gap: 150px;
}
.header_close_left {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.about_link_close {
  text-align: center;
  font-size: 30px;
  color: #fff;
  font-weight: 400;
}
.header_close_right {
  grid-row: 1 / 2;
  text-align: right;
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav, .header_body, .header_close {
  transition: all .5s ease; /* Плавное изменение прозрачности */
}
.header_close {
  display: none;
}
/* Work */

.work_back{
  background-color: #e7e7e7;
}
.work {
  padding: 100px 0;
}
.work_present {
  text-align: center;
  color: #032b48;
  font-size: 70px;
  font-weight: 200;
}
.work_grid {
  text-align: center;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.work_about {
  margin-top: 30px;
  padding: 30px;

   transition: transform 0.3s; 
}
.work_about:hover{
  transform: scale(1.1);
}

.work_btn {
  text-align: center;
  margin-top: 70px;
}

.work_link {
  padding: 15px 30px;
  border: 1px solid #032b48;
  border-radius: 4px;
  color: #032b48;
  font-size: 25px;
  line-height: 150%;

  transition: all .8s ease;
}
.work_link:hover{
    color: #fff;
    background-color: #032b48;
}

/* Info */
.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}
.info_left {
    background-color: #6A7883;
    padding: 180px 130px;
}
.info_right {
    padding: 30px 0;
    margin: 0 auto;
}
.info_author {
    font-size: 60px;
    font-weight: 400;
}
.info_text {
    padding-top: 50px;
    font-size: 40px;
    max-width: 550px;
    line-height: 150%;
}
.info_text span{
    color: #fff;
    padding: 0 10px 0 5px;
    background-color: #6A7883;
}


/* Review */

.review {
  padding: 100px 0;
  text-align: center;
}
.review_h {
  font-size: 70px;
  font-weight: 200;
  line-height: 150%;
  color: #032b48;
}
.review_grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.review_item {
  padding: 30px;
  margin: 0 auto;
  max-width: 350px;
  border: 1px solid #d1e6f5;
  border-radius: 5px;

  transition: all 0.5s ease;
}
.review_item:hover {
  background-color: #d5e0e8;
  padding: 25px;
}
.review_text {
  margin-top: 40px;
  padding-bottom: 100px;
  font-size: 20px;
}

/* Footer */

footer {
  background-color: #d5e0e8;
  padding: 50px 0;
}
.footer_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.footer_contact {
  color: #032b48;
  font-size: 81px;
  font-weight: 400;
}
.footer_text {
  margin-top: 54px;
  font-weight: 200;
  font-size: 38px;
  line-height: 149.523%; 
  letter-spacing: 1.52px;
  text-transform: uppercase;
}
.footer_text span {
  font-weight: 800;
}
.footer_mail {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.footer_mail a{
    font-size: 25px;
}
.footer_tel {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.footer_tel a{
    font-size: 22px;
}
.footer_media {
    margin-top: 40px;
    display: flex;
    gap: 30px;
    align-items: center;
}
.footer_media a{
    width: 60px;
}
.footer_right {
    padding-top: 45px;
}
.foot_1 {
    display: flex;
    align-items: center;
    gap: 100px;
}

.foot_name {
    color: #000;
    font-size: 26px;
    font-weight: 100;
}
.name {
    padding: 20px 10px 0 0;
    margin-top: 20px;
    border-bottom: 1px solid black;
    font-size: 25px;
}
.foot_2 {
    margin-top: 60px;
}

.mail{
    padding: 20px 200px 0 0;
    margin-top: 20px;
    border-bottom: 1px solid black;
    font-size: 25px;

}
.foot_3 {
    margin-top: 60px;
}

.text{
    padding: 20px 200px 0 0;
    margin-top: 20px;
    border-bottom: 1px solid black;
    font-size: 25px;
    font-weight: 100;
}
.foot_btn {
    margin-top: 50px;
}
.foot_link {
    padding: 15px 30px;
  border: 1px solid #032b48;
  border-radius: 4px;
  color: #032b48;
  font-size: 15px;
  line-height: 150%;

  transition: all .5s ease;
} 
.foot_link:hover{
    background-color: #032b48;
    color: #fff;
}



input {
    border: none;
    background: none;
  }
  
  textarea{
    border: none;
    background: none;
}







.header_close{
  display: none;
}